.Home-page {
    text-align: center;
    font-size: x-large;
}

.text {
    padding-top: 60px;
    text-align: left;
}

li {
    list-style-type: none;
    margin-right: 10px;
    font-size: small;
}

.footer {
    background-color: #e3e7f8;
    color: #000;
    padding: 12px;
}